[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:Immortals-Robotics/vcpkg.git
[submodule "source/common/protos"]
	path = source/common/protos
	url = git@github.com:Immortals-Robotics/ImmortalsProtos.git
